{% extends 'base.html' %} {% block content %}
<h1>Home</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, modi
    minus dolorum eaque quis aliquam maxime reprehenderit! Modi aut doloremque
    officia rerum asperiores cupiditate quibusdam, facilis deserunt nulla sed
    temporibus, commodi atque repudiandae dolorum labore? Voluptates quod
    repellat numquam qui expedita. Beatae labore delectus minus, repudiandae sed
    at est natus soluta deserunt vel numquam totam magni optio similique impedit
    dignissimos eius voluptas obcaecati eum quia. Dicta exercitationem quibusdam
    suscipit. Minus nostrum voluptatem ut sed quae veniam suscipit facilis
    tenetur molestiae asperiores, pariatur id, nam similique impedit laboriosam
    nihil et laudantium eligendi? Facere earum aspernatur provident, voluptas
    deserunt corporis accusamus quisquam ducimus aliquid itaque iure fugiat
    ipsum minima culpa quo distinctio id voluptatum unde iste. Nam libero
    numquam repellendus, vitae repellat doloribus natus sequi omnis error
    voluptates amet minus, obcaecati provident officia! Ab quasi inventore
    itaque, eos alias ratione nostrum non vel consequuntur. Tenetur nisi
    molestias, eum nesciunt vero labore facere ipsa corrupti id minima
    inventore, voluptatem qui eos assumenda placeat eveniet porro nostrum
    consectetur sequi error repellat necessitatibus delectus, beatae provident.
    Sit voluptates deserunt minima? Cupiditate aliquid, reiciendis molestias sed
    aut harum laboriosam explicabo temporibus consequuntur quae dignissimos
    veritatis voluptas, soluta nihil ex excepturi sequi sint nesciunt incidunt
    placeat! Beatae?
</p>
{% endblock %}
